//Default Grid Container
.grid-container{
  // max-width:60rem;
  // width:calc(100% - 10rem);
  
  @include media-stack-elements(#{$mq-md});

  .grid-content{
    outline: 1px solid black;
    background:$gray;

    @media #{$mq-md}{
      max-width:100%;
    }
  }

  h3{
    color:$primary;
  }

  
}


//Custom Grid
.grid__custom{

  .grid__custom__content{
    outline: 1px solid black;
    background:$gray;

  }

  h3{
    color:$primary;
  }
  
}

.buttons-container{
  width:100%;
  text-align: center;
}
