.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}



// Loop through these classes to have max-width of 1366px
  $classes: (container, hero);

  @each $class in $classes{
    .#{$class}{
      max-width: 1366px;
    }

    @media (min-width:1080px) and (max-width:1280px){
      .#{$class}{
        max-width: 1200px;
      }
    }
    
  }

.container__nowrap{
  display: flex;
}

.container__flex {
  display: flex;
  flex-wrap: wrap;
}